* {
    margin: 0;

}

.container2 {
    display: flex;
    flex-direction: row;
    height: 100vh;
    

}



.header {
    padding: 15px;
    text-align: center;
    background: navy;
    color: white;
    font-size: 30px;
    border-bottom: 4px solid black;

}

.cityInfo {
    
    /*border: 2px solid white;*/
    

}

.sideBar {
    flex-basis: 20%;
    background-color: lavender;
    padding: 20px;
    border-right: 2px solid black;
cd 
    /*border: 2px black;
    border: solid;
    display: flex;
    flex:*/

}

.content {
   flex-grow: 1;
   background-color: whitesmoke;
    /*border: 2px black;
    border: solid;*/
    margin-left: 5px;
    margin-top: 8px;

}

.forecastCards {
   display: flex; 
   justify-content: space-evenly;
}

.cards {
    flex: 0 0 113px;
    border: 2px solid white;
    margin: 4px;
}

.cityInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid white;

}

#fiveDayParagraph {
    margin-top: 100px;

}

